/* 
  Kleurenpalet:
  #8783d1
  #aa9aba
  #ffe8c2
  #071e22
  #1d7874
*/

:root {
  --desktop-bg: #008080;
  --window-bg: #c0c0c0;
  --window-accent: #808080;
  --window-titlebar: #000082;

  --path-border-default: url(../assets/borders/border-image.png);
  --path-border-taskbar: url(../assets/borders/border-taskbar-item.png);
  --path-border-clock: url(../assets/borders/border-clock.png);

  --path-border-default-small: url(../assets/borders/border-image-small.png);
  --path-border-taskbar-small: url(../assets/borders/border-taskbar-item-small.png);
  --path-border-clock-small: url(../assets/borders/border-clock-small.png);
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100vh;
  font-family: windowsregular, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--window-accent);
}

.aspect-ratio-container {
  position: relative;
  overflow: hidden;
  width: 70%;
}

.container {
  position: relative;
  /* padding-bottom: 50%; */

  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: repeat(6, minmax(0, 1fr));

  padding: 1em;

  grid-template-areas:
    "a . . . . . . ."
    ". . b b b b b ."
    ". . b b b b b ."
    ". . b b b b b ."
    ". . b b b b b ."
    ". . . . . . . .";

  background: var(--desktop-bg);

  border-image: var(--path-border-default-small);
  border-style: solid;
  border-width: 4px;
  border-image-slice: 4;
  border-image-repeat: round;

  transition: 0.25s;
}

.desktop-icon {
  /* display: grid;

  grid-template-columns: repeat(1fr, 5);
  grid-template-rows: repeat(1fr, 5);
  grid-template-areas: 
  "... ico ico ico ..."
  "... ico ico ico ..."
  "... ico ico ico ..."
  "... ico ico ico ..."
  "lbl lbl lbl lbl lbl"; */

  grid-area: a;
  padding-right: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.desktop-icon > img {
  min-width: 50px;

  /* grid-area: ico; */
}

.desktop-icon > p {
  display: flex;
  justify-content: center;
  font-size: 1em;
  color: #fff;
  margin-top: 0.5em;

  /* grid-area: lbl; */
}

p {
  margin: 0;
}

article > p {
  padding: 3rem 2rem;
  margin-top: 0;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  border-radius: 0 0 1rem 1rem;
  width: 100%;
}

.test {
  font-family: "windowsregular", monospace;
}

.taskbar {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3em;
  background: var(--window-bg);
  border-image: var(--path-border-default-small);
  border-top-style: solid;
  border-top-width: 4px;
  border-image-slice: 4;
  border-image-repeat: round;
  display: flex;
  align-items: flex-start;
  padding: 3px;
  padding-right: 0px;
}

.taskbar > div {
  border-image: var(--path-border-taskbar-small);
  border-style: solid;
  border-width: 2px 4px 4px 2px;
  border-image-slice: 2 4 4 2;
  border-image-repeat: round;
  height: 2.4em;
  width: 100%;
  display: flex;
  justify-content: start;
  padding-right: 5px;
  max-width: 10em;
  margin-right: 0.3em;
}

#start-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transform: scaleX(0.8);
  margin-top: 0.1em;
}

.taskbar > div > p {
  transform: translateY(7px);
  font-weight: normal;
  font-size: 1.2em;
  color: #000;
  margin-left: 0.6em;
}

.start-button {
  min-width: 4.8em;
  max-width: 4.8em !important;
}

.start-button-label {
  margin-left: 0 !important;
  font-weight: bold !important;
}

.clock {
  transform: translateX(0.15em);
  max-width: 8em !important;
  margin-left: auto;

  border-image: var(--path-border-clock-small) !important;
  border-width: 2px !important;
  border-image-slice: 2 !important;
}

.clock-time {
  transform: translateY(7px);
  font-size: 1.35em;
  color: #000;
  margin-left: auto;
  margin-right: 0.5em;
}

.window {
  position: flex;
  background: var(--window-bg);
  border-image: var(--path-border-default-small);
  border-style: solid;
  border-width: 4px;
  border-image-slice: 4;
  border-image-repeat: round;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.5em;
  transition: 0.25s;
  grid-area: b;
}

.window-titlebar {
  display: block;
  background-color: var(--window-titlebar);
  margin: 2px;
  margin-right: 2px;
  width: calc(100% / 2px);
  height: 1.6em;
}

.window-content {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-areas:
    "a b b b"
    ". b b b";
  padding: 1em;
}

.window-content > img {
  border-image: var(--path-border-clock-small);
  border-style: solid;
  border-width: 2px;
  border-image-slice: 2;
  border-image-repeat: round;
  float: left;
  position: top;
  min-height: 2em;
  min-width: 2em;
  max-height: 8em;
  max-width: 8em;
  object-fit: contain;
  grid-area: a;
}

.window-content > p {
  font-size: 1em;
  color: #000;
  grid-area: b;
}

.window-titlebar > p {
  display: inline-block;
  font-size: 1em;
  color: #fff;
  transform: translateY(-3px);
}

.window-titlebar > img {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-left: 0.3em;
  margin-top: 0.3em;
}

.window-in-taskbar > img {
  height: 24px;
  width: 24px;
  margin-top: 5px;
  margin-left: 5px;
}
